// Launcher
@use "./launch";
// Projects
@use "./projects";
// Navigation
@use "./navigation";
// Sidebar
@use "./sidebar";
// Interpolation
@use "./interpolation";
// Upscaling
@use "./upscaling";
// Restoration
@use "./restoration";
// Queue
@use "./queue";
// Models
@use "./models";
// Settings
@use "./settings";
// Preview
@use "./preview";
// Progressbar
@use "./progressbar";
// Socials
@use "./socials";
// Mediainfo
@use "./mediainfo";
// Terminal
@use "./terminal";
// Popup
@use "./popup";

html {
  background: transparent;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  padding: 1rem;
  color: white;
  overflow: hidden;
  user-select: none;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-text-stroke: 0.1px;
  letter-spacing: 0.2px;
  background: transparent;
}

#light-mode {
  height: 100%;
  width: 100%;
  position: absolute;
  background: rgba(28, 28, 28, 0.85);
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 10px;
  visibility: hidden;
}

#win10-border {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10px;
  z-index: 69;
  outline: 1.5px solid rgb(80 80 80 / 75%);
  outline-offset: -1.5px;
  visibility: hidden;
  pointer-events: none;
}

#drop-span {
  position: absolute;
  z-index: 6969;
  font-size: 17px;
  left: 42%;
  top: 54%;
  transition: 200ms ease-in-out;
  visibility: hidden;
}

#drop-icon {
  position: absolute;
  z-index: 6969;
  font-size: 47pt;
  left: 49%;
  top: 42%;
  transition: 200ms ease-in-out;
  visibility: hidden;
}

.theme-header {
  background-color: #1c73d333;
}

.theme-side {
  &:hover {
    color: var(--side-hover) !important;
  }
}

/* custom scrollbar */
::-webkit-scrollbar {
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #868686;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #b2b2b2;
}