$macosblue: #1e5cce;

.interpolation {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  width: 46%;
  height: 54%;
  left: 6%;
  top: 10%;
  border-radius: 12.5px;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);

  &::after {
    content: " ";
    position: absolute;
    position: absolute;
    top: 9%;
    right: 100%;
    margin-top: -5px;
    border-width: 7.5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.35) transparent transparent;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
  }
}

#settings-btn-interpolation {
  position: absolute;
  bottom: 4%;
  left: 3%;
  font-size: 8pt;
  color: darkgrey;
  background: rgba(6, 6, 6, 0.43);
  padding: 6px 9px;
  border-radius: 8px;
  font-weight: 500;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
  &:hover {
    background: #3434349e;
    cursor: pointer;
  }
}

.badge {
  border-radius: 100%;
  padding: 1px 5px;
  width: auto;
  background-color: #666666;
  margin-left: 3px;
  font-size: 7pt;
}

#model-span {
  position: absolute;
  top: 15%;
}

#model-label-interpolation {
  position: absolute;
  left: 5.5%;
  top: 76%;
}

#hider {
  background: rgba(0, 0, 0, 0.65);
  position: absolute;
  width: 46%;
  height: 54%;
  left: 6%;
  top: 10%;
  border-radius: 12.5px;
  visibility: hidden;

  &::after {
    content: " ";
    position: absolute;
    position: absolute;
    top: 10%;
    right: 100%;
    margin-top: -5px;
    border-width: 7.5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.35) transparent transparent;
  }
}

#interpolation-engine-text {
  position: absolute;
  top: 15%;
}

#interpolation-tab {
  display: block;
}

#interpolation-header {
  padding: 16px;

  #interpolation-header-text {
    font-size: 7.25pt;
    font-weight: 500;
    background: rgb(28 115 211 / 20%);
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
    color: #d0d0d0;
  }
}

#interpolate-button {
  padding: 12px;

  #interpolate-button-text {
    position: absolute;
    font-size: 8pt;
    font-weight: 500;
    background: rgba(6, 6, 6, 0.43);
    border-radius: 10px;
    padding: 8px 12px 8px 12px;
    bottom: 5%;
    right: 2.5%;
    box-shadow: 0px 8px 15px rgb(0 0 0 / 10%);
    color: #1e5cce;
    transition: 0.2s;
    z-index: 1;

    &:hover {
      cursor: pointer;
      background: rgba(70, 70, 70, 0.3);
    }
  }
}

#container-dropdown {
  font-size: 6.5pt;
  position: absolute;
  color: #8c8c8c;
  left: 21.5%;
  top: 46.25%;
  background-color: rgba(99, 99, 99, 0.35);
  border-radius: 10px;
  width: 28.75%;
  visibility: hidden;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  padding-top: 2px;
  padding-bottom: 2px;
}

#engine-dropdown {
  font-size: 6.5pt;
  position: absolute;
  color: #8c8c8c;
  left: 13.5%;
  top: 50.5%;
  background-color: rgba(99, 99, 99, 0.35);
  border-radius: 10px;
  width: 36.75%;
  visibility: hidden;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
  padding-top: 2px;
  padding-bottom: 2px;
  z-index: 6
}

#model-dropdown {
  font-size: 6.5pt;
  position: absolute;
  color: #8c8c8c;
  left: 13%;
  top: 54.5%;
  background-color: rgba(99, 99, 99, 0.35);
  border-radius: 10px;
  width: 37.25%;
  visibility: hidden;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
  padding-top: 2px;
  padding-bottom: 2px;
  z-index: 6;
}

#key-shortcut {
  font-size: 7pt;
  color: rgb(112, 112, 112);
  padding-left: 3px;
}

.option {
  padding-left: 6px;
  padding-top: 2px;
  padding-bottom: 2px;
  cursor: pointer;

  &:hover {
    color: $macosblue;
  }
}

#input-video {
  position: absolute;
  top: 17.5%;
  left: 21%;
  background-color: rgba(99, 99, 99, 0.35);
  height: 15px;
  width: 75%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: rgba(120, 120, 120, 0.35);
  }
}

#output-path {
  position: absolute;
  top: 25%;
  left: 22%;
  background-color: rgba(99, 99, 99, 0.35);
  height: 15px;
  width: 74%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: rgba(120, 120, 120, 0.35);
  }
}

#ffmpeg-params {
  all: unset;
  position: absolute;
  top: 32.5%;
  left: 29.5%;
  background-color: rgba(99, 99, 99, 0.35);
  height: 15px;
  width: 65.25%;
  border-radius: 10px;
  caret-color: $macosblue;
  outline: 0px solid transparent;
  font-size: 7pt;
  padding-left: 6px;
  color: #8c8c8c;
  transition: 0.2s;

  &:hover {
    background-color: rgba(120, 120, 120, 0.35);
  }
}

[contenteditable] {
  outline: 0px solid transparent;
}

#codec-selector {
  position: absolute;
  top: 40%;
  left: 5%;
  background-color: rgba(99, 99, 99, 0.13);
  height: 55px;
  width: 91%;
  border-radius: 10px;
}

#codec-selector-label {
  font-size: 8.5pt;
  font-weight: 500;
  color: #d0d0d0;
  position: absolute;
  top: 37%;
  left: 7%;
}

.codec {
  font-size: 8pt;
  font-weight: 400;
  color: #d0d0d0;
  background-color: rgba(99, 99, 99, 0.35);
  border-radius: 10px;
  width: 60px;
  height: 17.5px;
  transition: 0.2s;
  cursor: pointer;

  &:hover {
    background-color: rgba(120, 120, 120, 0.35);
  }
}

#x264 {
  position: absolute;
  top: 15%;
  left: 30%;
  color: $macosblue;

  span {
    display: table;
    margin: auto;
    margin-top: 2px;
  }
}

#x265 {
  position: absolute;
  top: 15%;
  left: 50%;

  span {
    display: table;
    margin: auto;
    margin-top: 2px;
  }
}

#AV1 {
  position: absolute;
  top: 15%;
  left: 70%;

  span {
    display: table;
    margin: auto;
    margin-top: 2px;
  }
}

#VP9 {
  position: absolute;
  bottom: 15%;
  left: 30%;

  span {
    display: table;
    margin: auto;
    margin-top: 2px;
  }
}

#ProRes {
  position: absolute;
  bottom: 15%;
  left: 50%;

  span {
    display: table;
    margin: auto;
    margin-top: 2px;
  }
}

#Lossless {
  position: absolute;
  bottom: 15%;
  left: 70%;

  span {
    display: table;
    margin: auto;
    margin-top: 2px;
  }
}

#ffmpeg-param-label-interpolation {
  position: absolute;
  top: 32.75%;
}

#restoration-list li {
  padding-bottom: 9px;
}

#interpolation-list-continuation li {
  padding-bottom: 9px;
}

#interpolation-list-continuation {
  margin-top: 36px;
}

#output-label-interpolation {
  position: absolute;
  left: 5.1%;
  top: 25.3%;
}

#input-label-interpolation {
  position: absolute;
  left: 5.1%;
  top: 17.5%;
}

.ellipsis-small {
  font-size: 8pt;
}

#output-container {
  position: absolute;
  bottom: 34.5%;
  left: 34%;
  background-color: rgba(99, 99, 99, 0.35);
  height: 15px;
  width: 62%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: rgba(120, 120, 120, 0.35);
  }
}

#container-label-interpolation {
  position: absolute;
  left: 5.5%;
  top: 61%;
}

#engine {
  position: absolute;
  bottom: 27%;
  left: 16%;
  background-color: rgba(99, 99, 99, 0.35);
  height: 15px;
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: rgba(120, 120, 120, 0.35);
  }
}

#model-selector {
  position: absolute;
  bottom: 19.5%;
  left: 15%;
  background-color: rgba(99, 99, 99, 0.35);
  height: 15px;
  width: 81%;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background-color: rgba(120, 120, 120, 0.35);
  }
}

.input-text {
  font-size: 7pt;
  padding-left: 6px;
  color: #8c8c8c;
  position: absolute;
  top: 15%;
  white-space: nowrap;
  overflow: hidden;
  max-width: 324px;
}

.small-angle {
  font-size: 8pt;
}

#engine-label-interpolation {
  position: absolute;
  left: 5.5%;
  top: 68.5%;
}

#input-video i {
  right: 2%;
  position: absolute;
  top: 19%;
  color: #8c8c8c;
}

#output-path i {
  right: 2%;
  position: absolute;
  top: 19%;
  color: #8c8c8c;
}

#output-container i {
  right: 2%;
  position: absolute;
  top: 19%;
  color: #8c8c8c;
}

#engine i {
  right: 2%;
  position: absolute;
  top: 19%;
  color: #8c8c8c;
}

#model-selector i {
  right: 2%;
  position: absolute;
  top: 19%;
  color: #8c8c8c;
  font-size: 8pt;
}

.open-dialog-input {
  visibility: hidden;
}