$macosblue: #1e5cce;

#media-container {
  visibility: hidden;
}

#media-container-upscale {
  visibility: hidden;
  position: absolute;
  top: 0%;
}

#media-container-restoration {
  visibility: hidden;
  position: absolute;
  top: 0%;
}

#nomedia {
  position: absolute;
  left: 49%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: 300;
  z-index: -1;
  white-space: nowrap;
}

.media-info {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 44%;
  height: 34%;
  right: 2%;
  bottom: 9%;
  border-radius: 12.5px;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
  transition: 0.5s;
  --animate-delay: 0.8s;

  &::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7.5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.25) transparent;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

.media-info-upscale {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 450px;
  height: 165px;
  right: 2.5%;
  bottom: 12%;
  border-radius: 12.5px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;
  --animate-delay: 0.8s;

  &::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7.5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.25) transparent;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

.media-info-restore {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
  width: 450px;
  height: 165px;
  right: 2.5%;
  bottom: 12%;
  border-radius: 12.5px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  transition: 0.5s;

  &::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7.5px;
    border-style: solid;
    border-color: transparent transparent rgba(0, 0, 0, 0.25) transparent;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

#media-header {
  padding: 14px;
  padding-top: 14px;
  padding-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 406px;

  #header-text {
    font-size: 7.25pt;
    font-weight: 500;
    background: rgb(28 115 211 / 20%);
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 8px;
    padding-top: 8px;
    padding-bottom: 7px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
    transition: background 300ms linear;
    color: #d0d0d0;

    #file-name {
      color: #d0d0d0;
    }
  }

  i {
    font-size: 8pt;
    padding-right: 4px;
    color: #d0d0d0;
  }
}

#media-header-upscale {
  padding: 14px;
  padding-top: 14px;
  padding-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 406px;

  #header-text-upscale {
    font-size: 7.25pt;
    font-weight: 500;
    background: rgba(28, 115, 211, 0.2);
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 8px;
    padding-top: 8px;
    padding-bottom: 7px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
    color: #d0d0d0;

    #file-name-upscale {
      color: #d0d0d0;
    }
  }

  i {
    font-size: 8pt;
    padding-right: 4px;
    color: #d0d0d0;
  }
}

#media-header-restoration {
  padding: 14px;
  padding-top: 14px;
  padding-bottom: 12px;
  white-space: nowrap;
  overflow: hidden;
  max-width: 406px;

  #header-text-restore {
    font-size: 7.25pt;
    font-weight: 500;
    background: rgba(28, 115, 211, 0.2);
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 8px;
    padding-top: 8px;
    padding-bottom: 7px;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
    color: #d0d0d0;

    #file-name-restore {
      color: #d0d0d0;
    }
  }

  i {
    font-size: 8pt;
    padding-right: 4px;
    color: #d0d0d0;
  }
}

.info-text {
  color: $macosblue;
  transition: color 300ms linear;
}

ul {
  margin-top: 3.5px;
  padding: 6px 120px 6px 10px;
  display: inline-block;
  width: auto;
  margin-left: 14px;
}

#mediainfo-side {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 7%;
  height: 67%;
  left: 3%;
  top: 26%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#mediainfo-side-upscale {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 7.5%;
  height: 66%;
  left: 3.4%;
  top: 26%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#mediainfo-side-restore {
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  width: 9.5%;
  height: 66%;
  left: 4.4%;
  top: 26%;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

#mediainfo-side-icon {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin-left: 9.5px;
  color: #d1d1d1;
  font-size: 10pt;
}

li {
  font-size: 8.5pt;
  font-weight: 400;
  padding-top: 0.5px;
  padding-bottom: 0.5px;
  color: #d0d0d0;
}

#media-info-list {
  padding-left: 15px;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  width: 63.5%;

  li {
    margin-left: 28px;
    font-size: 8pt;
    white-space: nowrap;
    height: 14px;
  }
}

#media-info-list-upscale {
  padding-left: 15px;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  width: 70.5%;

  li {
    margin-left: 28px;
    font-size: 8pt;
    white-space: nowrap;
    height: 14px;
  }
}

#media-info-list-restore {
  padding-left: 15px;
  background: rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  width: 88.5%;

  li {
    margin-left: 28px;
    font-size: 8pt;
    white-space: nowrap;
    height: 14px;
  }
}