$macosblue: #1e5cce;

#title-bar {
  position: absolute;
  width: 200%;
  height: 6%;
  top: 0%;
  left: 0%;
  z-index: -1;
}

#win-controls {
  visibility: hidden;
}

#close {
  font-size: 16px;
  position: absolute;
  top: 34%;
  left: 1.5%;
  color: #d0d0d0;
  z-index: 69;
  -webkit-app-region: no-drag;

  &:hover {
    cursor: pointer;
    color: #ca3433;
  }
}

#minimize {
  font-size: 14px;
  position: absolute;
  top: 30%;
  left: 3.5%;
  color: #d0d0d0;
  z-index: 69;
  -webkit-app-region: no-drag;

  color: #d0d0d0;

  &:hover {
    cursor: pointer;
    color: #a8a8a8;
  }
}

.project-bar {
  position: absolute;
  top: 1%;
  height: auto;
  width: 98%;
  height: 38px;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
  --animate-delay: 0.8s;
  background-color: rgba(0,0,0,.25) !important;
  right: 1%;
  left: 1%;
  border-radius: 10px;
}

#project {
  font-size: 7pt;
  font-weight: 500;
  color: #d0d0d0;
  width: auto;
  height: auto;
  padding: 6px;
  padding-bottom: 7px;
  border-radius: 10px;
  vertical-align: center;
  transition: .5s;
  display: inline-block;
  margin-top: .6%;
  margin-left: 1%;
  background: rgba(190,190,190,.15);
  padding-right: 10px;
  z-index: 69;
  -webkit-app-region: no-drag;

  &:hover {
    cursor: pointer;
    background: rgba(190, 190, 190, 0.378);
    border-radius: 10px;
    padding-bottom: 7px;
  }
}

#top-bar-queue {
  display: inline-block;
  font-size: 8pt;
  position: absolute;
  right: 4.5%;
  top: 34%;
  color: #f1f1f1;

  .tooltip-text {
    visibility: hidden;
    width: 140px;
    background-color: #1e5cce;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 69;
    font-size: 7pt;
    top: 140%;
    left: -33%;
    transition: 0.2s;
    font-weight: 400;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
    opacity: 0;
    transition: opacity 0.25s;

    &::after {
      content: " ";
      position: absolute;
      bottom: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent transparent var(--tooltip-triangle) transparent;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}

#enhancr-user {
  right: 1.3%;
  top: 27%;
  position: absolute;
  color: #b8b8b8;
  font-size: 14.5pt;
  z-index: 5;
  -webkit-app-region: no-drag;
}

#new {
  font-size: 7pt;
  font-weight: 500;
  color: #d0d0d0;
  width: auto;
  height: auto;
  padding: 7px 5px 7px 6px;
  border-radius: 8px;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
    background: rgba(139, 139, 139, 0.378);
  }

  i {
    font-size: 8.5pt;
    vertical-align: middle;
  }
}

.new {
  width: auto;
  height: auto;
  transition: 0.5s;
  display: inline-block;
  z-index: 69;
  -webkit-app-region: no-drag;

  .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: $macosblue;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    font-size: 8pt;
    top: 100%;
    left: 50%;
    margin-left: -68px;
    transition: 0.2s;
    font-weight: 400;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    margin-top: 10px;
    transition: opacity 0.25s;
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  .tooltip-text::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent $macosblue transparent;
  }
}

#project-folder {
  padding-right: 3px;
  margin-left: 3px;
}

#project-close {
  padding-left: 2px;
  font-size: 8pt;
  vertical-align: center;
}