$macosblue: #1e5cce;

.queue {
  background: rgba(0, 0, 0, 0.35);
  position: absolute;
  width: 448px;
  height: 435px;
  left: 8%;
  top: 12.5%;
  border-radius: 12.5px;
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: -1;

  &::after {
    content: " ";
    position: absolute;
    position: absolute;
    top: 35.5%;
    right: 100%;
    margin-top: 39px;
    border-width: 7.5px;
    border-style: solid;
    border-color: transparent rgba(0, 0, 0, 0.35) transparent transparent;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
  }
}

#queue-tab {
  display: none;
}

#queue-header {
  padding: 14px;

  #queue-header-text {
    font-size: 7pt;
    font-weight: 500;
    background: $macosblue;
    border-radius: 10px;
    width: auto;
    height: auto;
    padding: 8px;
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    color: #d0d0d0;
  }
}

#top-bar-queue {
  color: #d0d0d0;
  transition: 0.5s;
  padding: 7px 10px;
  top: 14% !important;
  border-radius: 10px;
  background: rgba(190, 190, 190, 0.1);
  font-weight: 500;
  z-index: 5;
  -webkit-app-region: no-drag;

  &:hover {
    cursor: pointer;
    background: rgba(190, 190, 190, 0.378) !important;
  }
}

#queue {
  width: 448px;
  height: 249px;
  border-radius: 10px;
  position: absolute;
  right: 1%;
  top: 10%;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
  z-index: 4;
  overflow-y: scroll;
  overflow-x: hidden;
  visibility: hidden;
}

.queue-thumb {
  float: left;
  width: 18%;
  margin-right: 10px;
  border-radius: 10px;
  margin-top: 1px;
  margin-left: 10px;
}

.queue-item-path {
  clear: right;
  font-size: 7pt;
  overflow: hidden;
  color: grey;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 284px;
}

.queue-item-remove {
  float: right;
  margin-right: -61px;
  margin-top: -34px;
  color: #727272;
  font-size: 13pt;

  &:hover {
    cursor: pointer;
    color: #808080;
  }
}

.queue-item-done {
  float: right;
  margin-right: -67px;
  margin-top: -34px;
  color: #727272;
  font-size: 13pt;
}

.queue-item-spin {
  float: right;
  margin-right: -63px;
  margin-top: -34px;
  color: #d1d1d1;
  font-size: 13pt;
}

.queue-item-dots {
  color: #878787;
  font-size: 14pt;
  float: right;
  margin-right: -34px;
  margin-top: -34px;

  &:hover {
    cursor: pointer;
    color: #959595;
  }
}

.queue-item-info {
  margin-top: 6px;
}

.queue-item-title {
  font-size: 8pt;
  margin-top: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 69%;
  white-space: nowrap;
}

.queue-item-mode {
  font-size: 7pt;
  color: darkgrey;
  font-weight: 500;
}

.queue-item {
  transform: scale(0.9);
  margin-left: -20px;
}

.queue-item-progress {
  background: #393939;
  width: 295px;
  height: 3.5px;
  position: relative;
  border-radius: 5px;
  margin-left: 102px;
  margin-top: 4px;
  z-index: -1;
}

.queue-item-progress-overlay {
  max-width: 295px;
  height: 2px;
  background: cornflowerblue;
  margin-left: 0px;
  border-radius: 5px;
  z-index: 2;
  position: relative;
  width: 0%;
  transition: width 1s ease 0.3s;
}

.queue-item-percent {
  font-size: 6pt;
  float: right;
  margin-top: -8.25px;
  margin-right: 30px;
  color: #797979;
  font-weight: 700;
}

#queue-blank {
  position: absolute;
  font-size: 9pt;
  font-weight: 500;
  top: 47%;
  left: 5%;
  color: darkgrey;
  text-align: center;
}

.queue-element {
  font-size: 8pt;
  font-weight: 325;
  color: #cacaca;
  margin-top: 15px;
  margin-left: 15px;
}

:root {
  --icon-arrow-right: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8"?><!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd"><svg fill="currentColor" height="1.5em" viewBox="0 0 24 24" width="1.5em" xmlns="http://www.w3.org/2000/svg"><path d="M8.59,18.16L14.25,12.5L8.59,6.84L7.89,7.55L12.84,12.5L7.89,17.45L8.59,18.16Z"/></svg>');
  --theme-r: 0;
  --theme-g: 112;
  --theme-b: 243;
  --theme-rgb: var(--theme-r), var(--theme-g), var(--theme-b);
  --theme: rgb(var(--theme-rgb));

  --menu-bg: linear-gradient(rgba(var(--theme-rgb), 0.04),
      rgba(var(--theme-rgb), 0.04)),
    rgba(255, 255, 255, 0.9);
  --menu-bg-hover: linear-gradient(rgba(var(--theme-rgb), 0.2),
      rgba(var(--theme-rgb), 0.2)),
    rgba(255, 255, 255, 0.9);

  --spacing-xs: 4px;
  --spacing-s: 8px;
  --spacing-l: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 64px;
}

.context-menu-queue {
  list-style-type: none;
  padding: 1px 1px;
  border-radius: 10px;
  background: rgb(0 0 0 / 30%);
  box-shadow: 0 0 12px rgb(0 0 0 / 12%);
  user-select: none;
  margin-left: -20.5%;
  z-index: 9999;
  margin-top: -10.5%;
  margin-bottom: 0;
  float: left;
  visibility: hidden;

  .context-menu-queue {
    left: 100%;
    position: absolute;
    top: 0;
    margin-top: calc(var(--spacing-m) * -1 - 1px);
  }
}

.context-menu-queue li .menu__item:hover {
  color: #dadada;
}

#modal-edit {
  height: 24vh;
}

#save-edit-btn {
  position: absolute;
  font-size: 7pt;
  font-weight: 600;
  background: rgb(55 55 55 / 85%);
  border-radius: 10px;
  padding: 6px 12px;
  bottom: 9.5%;
  right: 34%;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
  color: #8b8b8b;
  transition: color 300ms linear, background 0.2s;

  i {
    margin-right: 3px;
  }

  &:hover {
    background: rgba(60, 60, 60, 0.65);
    cursor: pointer;
  }
}

#chain-modal-body {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.chain-btn {
  position: relative;
  font-size: 8pt;
  font-weight: 500;
  background: rgba(44, 44, 44, 0.88);
  border-radius: 10px;
  padding: 8px 12px 8px 12px;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
  color: darkgrey;
  transition: color 300ms linear, background 0.2s;
  width: 20%;
  margin-right: 6px;

  i {
    margin-right: 3px;
  }

  &:hover {
    background: rgba(62, 62, 62, 0.88);
    cursor: pointer;
  }
}

#edit-export-name {
  all: unset;
  position: absolute;
  background-color: rgba(99, 99, 99, 0.35);
  height: 20px;
  width: 99%;
  border-radius: 10px;
  caret-color: #1e5cce;
  outline: 0px solid transparent;
  font-size: 8pt;
  padding-left: 6px;
  color: #8c8c8c;
  transition: 0.2s;
  margin-top: 7px;
}

#timestamp-trim {
  all: unset;
  position: absolute;
  background-color: rgba(99, 99, 99, 0.35);
  height: 20px;
  width: 99%;
  border-radius: 10px;
  caret-color: #1e5cce;
  outline: 0px solid transparent;
  font-size: 8pt;
  padding-left: 6px;
  color: #8c8c8c;
  transition: 0.2s;
  margin-top: 7px;
  text-align: center;

  &:invalid {
    border: 2px solid #ff3434;
  }
}

#save-timestamps-btn {
  position: absolute;
  font-size: 7pt;
  font-weight: 600;
  background: rgba(55, 55, 55, 0.85);
  border-radius: 10px;
  padding: 6px 12px;
  bottom: 9.5%;
  left: 39.65%;
  box-shadow: 0 4px 20px 0 rgb(0 0 0 / 10%);
  color: #8b8b8b;
  transition: color 300ms linear, background 0.2s;

  &:hover {
    cursor: pointer;
    background: rgba(80, 80, 80, 0.85);
  }
}

#modal-trim {
  min-height: 24vh !important;
}

.context-menu-queue li {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  word-wrap: nowrap;
  user-select: none;
  -webkit-user-select: none;

  .menu__item {
    text-decoration: none;
    outline: none;
    border: 0;
    background: none;
    color: darkgrey;
    width: 83px;
    height: 15px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    cursor: pointer;
    font-weight: 600;
    font-size: 6pt;
    white-space: nowrap;

    i {
      margin-right: 6px;
    }

    @supports selector(:focus-visible) {
      &:focus-visible {
        background: var(--menu-bg-hover);
      }
    }

    &:hover {
      _background: var(--menu-bg-hover);
    }

    &--disabled {
      pointer-events: none;
      opacity: 0.38;
    }

    &>svg {
      font-size: var(--spacing-l);
      margin-left: calc(var(--spacing-xs) * -1);
      margin-right: var(--spacing-xs);
      fill: currentColor;
      cursor: inherit;
    }

    &--submenu {
      background: var(--icon-arrow-right);
      background-position: calc(100% - var(--spacing-m)) center;
      background-repeat: no-repeat;
    }
  }

  &.menu__seperator {
    margin: var(--spacing-s) var(--spacing-l);
    height: 1px;
    background: rgba(128, 128, 128, 0.5);
    pointer-events: none;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
  }

  &.menu__subheader {
    margin: 0 var(--spacing-l);
    padding-bottom: var(--spacing-xs);
    font-size: 0.82em;
    opacity: 0.8;
    background: none;
    pointer-events: none;
    user-select: none;
    outline: none;
    height: auto;
  }
}