$macosblue: #1e5cce;

.side-bar {
  position: absolute;
  top: 6.63%;
  left: 0%;
  width: 4.75%;
  height: 86.8%;
  --animate-delay: 0.8s;
  background-color: rgba(0, 0, 0, 0.15) !important;
}

#interpolate-side {
  position: absolute;
  top: 4%;
  left: 31%;
  font-size: 13.5pt;
  color: #d0d0d0;
  transition: 0.2s;
  z-index: 99;

  &:hover {
    color: var(--side-hover) !important;
    cursor: pointer;
  }
}

.interpolate-side {
  position: absolute;
  top: 8%;
  left: 31%;
  font-size: 13.5pt;
  color: rgb(129 129 129);
  transition: 0.2s;
  z-index: 99;

  .tooltip-text {
    visibility: hidden;
    width: 90px;
    background-color: $macosblue;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 99;
    font-size: 10pt;
    top: -5px;
    margin-left: 30px;
    transition: 0.2s;
    font-weight: 400;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.25s;
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    z-index: 99;
  }

  .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--tooltip-triangle) transparent transparent;
    z-index: 99;
  }
}

#restore-side {
  position: absolute;
  top: 4%;
  left: 31%;
  font-size: 13.5pt;
  color: rgb(129, 129, 129);
  transition: 0.2s;
  z-index: 99;

  &:hover {
    color: var(--side-hover) !important;
    cursor: pointer;
  }
}

.restore-side {
  position: absolute;
  top: 29%;
  left: 31%;
  font-size: 13.5pt;
  color: rgb(129, 129, 129);
  transition: 0.2s;
  z-index: 99;

  .tooltip-text {
    visibility: hidden;
    width: 70px;
    background-color: $macosblue;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 99;
    font-size: 10pt;
    top: -5px;
    margin-left: 30px;
    transition: 0.2s;
    font-weight: 400;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.25s;
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
    z-index: 99;
  }

  .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--tooltip-triangle) transparent transparent;
    z-index: 99;
  }
}

#upscale-side-arrow {
  font-size: 6pt;
  position: absolute;
  margin-top: 1px;
  transition: 0.2s;
  z-index: 69;
  padding: 5px;

  &:hover {
    color: var(--side-hover) !important;
    cursor: pointer;
  }

  &:hover+#upscale-side {
    color: var(--side-hover) !important;
    cursor: pointer;
  }
}

#upscale-side {
  position: absolute;
  top: 18%;
  left: 35%;
  font-size: 15pt;
  color: rgb(129, 129, 129);
  transition: 0.2s;
  z-index: 2;
}

.upscale-side {
  position: absolute;
  top: 18%;
  left: 32%;
  font-size: 13.5pt;
  color: rgb(129, 129, 129);
  transition: 0.2s;

  .tooltip-text {
    visibility: hidden;
    width: 75px;
    background-color: $macosblue;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 69;
    font-size: 10pt;
    top: -5px;
    margin-left: 30px;
    transition: 0.2s;
    font-weight: 400;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.25s;
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }

  .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--tooltip-triangle) transparent transparent;
  }
}

#settings-side {
  position: absolute;
  bottom: 6%;
  left: 31%;
  font-size: 13.5pt;
  color: rgb(129 129 129);
  transition: 0.2s;

  &:hover {
    color: var(--side-hover) !important;
    cursor: pointer;
  }
}

.settings-side {
  position: absolute;
  bottom: 6%;
  left: 31%;
  font-size: 13.5pt;
  color: rgb(129 129 129);
  transition: 0.2s;

  .tooltip-text {
    visibility: hidden;
    width: 75px;
    background-color: $macosblue;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 69;
    font-size: 10pt;
    top: -23px;
    margin-left: 30px;
    transition: 0.2s;
    font-weight: 400;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.25s;

    &::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent var(--tooltip-triangle) transparent transparent;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}

#models-side {
  position: absolute;
  bottom: 16%;
  left: 31%;
  font-size: 13.5pt;
  color: rgb(129 129 129);
  transition: 0.2s;

  &:hover {
    color: var(--side-hover) !important;
    cursor: pointer;
  }
}

.models-side {
  position: absolute;
  bottom: 16%;
  left: 31%;
  font-size: 13.5pt;
  color: rgb(129 129 129);
  transition: 0.2s;

  .tooltip-text {
    visibility: hidden;
    width: 75px;
    background-color: $macosblue;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 69;
    font-size: 10pt;
    top: -22px;
    margin-left: 30px;
    transition: 0.2s;
    font-weight: 400;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.25s;

    &::after {
      content: " ";
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: transparent var(--tooltip-triangle) transparent transparent;
    }
  }

  &:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
}