  .socials {
    position: absolute;
    width: 85px;
    height: 35px;
    left: 1%;
    bottom: 2.5%;
    border-radius: 12.5px;
    --animate-delay: 0.8s;
  }
  
  #discord {
    height: 1em;
    vertical-align: bottom;
    position: absolute;
    left: 20%;
    top: 50%;
    color: #7289da;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.5s;
  
    &:hover {
      color: #5d70b1;
      cursor: pointer;
    }
  }
  
  #patreon {
    height: 1em;
    vertical-align: bottom;
    position: absolute;
    right: 24%;
    top: 50%;
    color: coral;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.5s;
  
    &:hover {
      color: rgb(202, 101, 64);
      cursor: pointer;
    }
  }